{% load static %}
{% load i18n main %}
{% microservice_title as site_name %}
{% chat_site_init as site_init %}
{% block container %}
  <title>Django blog</title>
  {% block head %}
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
    <link href="{% static 'user_profile/css/user-profile.css' %}" rel="stylesheet">
  {% endblock head %}
  <script>
    $(document).ready(function () {
      $.getScript('{% static 'user_profile/js/user-profile.js' %}');
      $.getScript('{% static 'user_profile/js/connect_chat.js' %}');
      $.getScript('{% static 'user_profile/js/subscribe.js' %}');
      {% block jquery %} {% endblock jquery %}
    })
  </script>
  <br><br><br>



  <div class="container">
    <div id="main">


      <div class="row" id="real-estates-detail">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <header class="panel-title">
                <div class="text-center">
                  <strong>
                    <p>Пользователь сайта</p>
                    <p>{{ user.full_name }}</p>
                  </strong>
                </div>
              </header>
            </div>
            <div class="panel-body">
              <div class="text-center" id="author">
                <img src="{{ user.image }}" width="240" height="240" id="userAvatar">
                <input id="updateImageInput" data-href="{% url 'user_profile:update_image' %}" type="file" name="image"
                       value="Обзор...">
                <a id="chat-connect" data-href="{{ site_init }}" data-id="3" class="btn btn-primary">Написать
                  сообщение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <ul id="myTab" class="nav nav-pills">
                <li class="active"><a href="#detail" data-toggle="tab">О пользователе</a></li>
                <li class=""><a href="#changepswd" class="btn btn-link pull-right" data-toggle="modal"
                                data-target="#pwdModalChange"> Смена пароля </a></li>
                <li class=""><a href="{% url 'user_profile:api_list_true_users' %}">Посмотреть список пользователей</a>
                  {% if not id or user.id == id%}
                    <li class=""><a href="{% url 'user_profile:user_settings' user_id=user.id %}">Настройки</a>
                    </li>
                  {% endif %}
              </ul>
              <div id="myTabContent" class="tab-content">
                <hr>
                <div class="tab-pane fade active in" id="detail">
                  <h4>История профиля</h4>
                  <table class="table table-th-block">
                    <tbody>
                    <tr>
                      <td>Дата рождения:</td>
                      <td>{{ user.birthdate }}</td>
                    </tr>
                    {% if user.gender == 0 %}
                      <tr>
                        <td>Пол:</td>
                        <td>Мужской</td>
                      </tr>
                    {% endif %}
                    {% if user.gender == 1 %}
                      <tr>
                        <td>Пол:</td>
                        <td>Женский</td>
                      </tr>
                    {% endif %}
                    <tr>
                      <td>Веб-сайт:</td>
                      <td>{{ user.website }}</td>
                    </tr>
                    <tr>
                      <td>Биография:</td>
                      <td>{{ user.bio }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if id and user.id != id %}
        <div class="container"><a data-href="{% url 'actions:follow' %}" class="subscribe-button"
                                  data-count="{{ subscribers }}" data-user="{{ id }}"
                                  data-subscribed="{{ has_subscribed }}">
          <svg xmlns="http://www.w3.org/2000/svg">
            <g>
              <rect class="plus__line1" width="2" height="12" x="5" y="0"></rect>
              <rect class="plus__line2" width="12" height="2" x="0" y="5"></rect>
            </g>
          </svg>
          <span class="subscribe-text">Subscribe</span></a></div>
      {% endif %}
    </div>

  </div><!-- /.main -->
  </div><!-- /.container -->
  {% include 'user_profile/reset_password_email_link.html' %}
{% endblock %}
