{% extends "blog/base.html" %}
{% load static main %}
<!-- the comment box -->
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock head %}
{% block container %}
<div class="well">
  <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
  <form role="form">
    <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
  </form>
</div>
<hr>

<!-- make loop through all the comments -->

<!-- if there is no main page -->
{% for comment in results %}
  <h3><i class="fa fa-comment"></i> {{ comment.author }} says:
    <small> {{ comment.updated }}</small>
  </h3>
  <p>{{ comment.content |safe }}</p>
{% endfor %}
{% include 'blog/includes/previous_and_next.html' %}
{% endblock %}
