<!--modal-->
<div id="pwdModalSecond" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-body">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <p>We have sent you a reset email</p>
                <div class="panel-body">
                  <fieldset>
                    <form id="forgotPasswordFormSuccess" role="form" action="{% url 'auth_app:login' %}">
                      <input class="btn btn-lg btn-success btn-block" value="Return to blog site" type="submit">
                    </form>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
