<div class="col-md-9">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h4>Your Profile</h4>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group row">
              <label for="name" class="col-4 col-form-label">First Name</label>
              <div class="col-8">
                <input id="name" name="name" placeholder="{{ first_name }}" class="form-control here" type="text">
              </div>
            </div>
            <div class="form-group row">
              <label for="lastname" class="col-4 col-form-label">Last Name</label>
              <div class="col-8">
                <input id="lastname" name="lastname" placeholder="{{ last_name }}" class="form-control here"
                       type="text">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-4 col-form-label">Email</label>
              <div class="col-8" id="emailGroup">
                <input id="email" name="email" placeholder="{{ email }}" class="form-control here" type="email">
              </div>
            </div>
            <div class="form-group row">
              <label for="lastname" class="col-4 col-form-label">Birthday</label>
              <div class="col-8">
                <input id="birthday" name="birthday" placeholder="{{ birthday }}" class="form-control here"
                       onfocus="(this.type='date')" type="text">
              </div>
            </div>
            <div class="form-group row">
              <label for="select" class="col-4 col-form-label">Gender</label>
              <div class="col-8">
                {% if gender == 0 %}
                  <select id="select" name="select" class="custom-select">
                    <option id="male" value="male" selected>Male</option>
                    <option id="female" value="female">Female</option>
                  </select>
                {% else %}
                  <select id="select" name="select" class="custom-select">
                    <option value="female" selected>Female</option>
                    <option value="male">Male</option>
                  </select>
                {% endif %}
              </div>
            </div>
            <div class="form-group row">
              <label for="website" class="col-4 col-form-label">Website</label>
              <div class="col-8">
                <input id="website" name="website" placeholder="{{ website }}" class="form-control here" type="url">
              </div>
            </div>
            <div class="form-group row">
              <label for="biography" class="col-4 col-form-label">Biography</label>
              <div class="col-8">
                <textarea id="biography" name="biography" cols="40" rows="4" class="form-control"
                          placeholder="{{ biography }}"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary" id="updateCredentials"
                        data-href="{% url 'user_profile:change_user_credentials' user_id=id %}"
                        data-redirect="{% url 'auth_app:login' %}" data-site="{{ site }}">
                  Update My Profile
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
